:root {
    --tinta: #111111;
    --papel: #f7f4ec;
    --cinza-legenda: #5d5a52;

    --font-manchete: Georgia, 'Times New Roman', serif;
    --font-ui: Arial, Helvetica, sans-serif;

    --urgente: #c62828
}